<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro de Armadura</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<nav class="navbar navbar-inverse navbar-fixed-top" id="mainNav">
      <div class="container">
      	<div class="navbar-header">
      		<a class="navbar-brand" th:href="@{/home/}">Destiny Set Manager</a>
      	</div>
        <div class="navbar-collapse collapse" id="navbarResponsive">
          <ul class="nav navbar-nav">
            <li>
              <a class="nav-link" th:href="@{/guardiao/}">Guardiões</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/modificador/}">Modificadores</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/vantagem/}">Vantagens</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/arma/}">Armas</a>
            </li>
            <li class="active">
              <a class="nav-link" th:href="@{/armadura/}">Armaduras</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/conjunto/}">Conjuntos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
		<div class="panel-heading">
			<strong>Cadastro de Armadura</strong>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${armadura}" th:action="@{/armadura/save}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${temMensagem}">
						    <span th:text="${mensagem}"></span>
						  </div>
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div> 					
						<div class="form-group row">
						    <div class="col-md-1">
						        <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
						    </div>
						 </div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
							    <label>Nome</label>
							    <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="100"/>
							</div>
						</div>
				    <div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('poder')}? 'has-error'">
							    <label>Poder</label>
							    <input type="number" class="form-control input-sm" th:field="*{poder}" min="20" max="600"/>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('raridade')}? 'has-error'">
							    <label>Raridade</label>
							    <select id="raridade" th:field="*{raridade}" class="form-control input-sm">
								    <option value="" selected="selected"></option>
								    <option value="Comum">Comum</option>
								    <option value="Incomum">Incomum</option>
								    <option value="Raro">Raro</option>
								    <option value="Lendário">Lendário</option>
								    <option value="Exótico">Exótico</option>
							    </select>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('categoria')}? 'has-error'">
							    <label>Categoria</label>
							    <select id="categoria" th:field="*{categoria}" class="form-control input-sm">
								    <option value="" selected="selected"></option>
								    <option value="Elmo">Elmo</option>
								    <option value="Peito">Peito</option>
								    <option value="Braço">Braço</option>
								    <option value="Perna">Perna</option>
								    <option value="Item de Classe">Item de Classe</option>
							    </select>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('classe')}? 'has-error'">
							    <label>Classe</label>
							    <select id="classe" th:field="*{classe}" class="form-control input-sm">
								    <option value="" selected="selected"></option>
								    <option value="Arcano">Arcano</option>
								    <option value="Caçador">Caçador</option>
								    <option value="Titã">Titã</option>
							    </select>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('resiliencia')}? 'has-error'">
							    <label>Resiliência</label>
							    <input type="number" class="form-control input-sm" th:field="*{resiliencia}" min="0" max="3"/>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('mobilidade')}? 'has-error'">
							    <label>Mobilidade</label>
							    <input type="number" class="form-control input-sm" th:field="*{mobilidade}" min="0" max="3"/>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('recuperacao')}? 'has-error'">
							    <label>Recuperação</label>
							    <input type="number" class="form-control input-sm" th:field="*{recuperacao}" min="0" max="3"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('vantagem1')}? 'has-error'">
								<label>Primeira Vantagem</label> 
								<select id="vantagem1" th:field="*{vantagem1}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="vantagem : ${vantagens}"  th:value="${vantagem.id}" th:text="${vantagem.nome}"></option>
						    </select>
					    </div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('vantagem2')}? 'has-error'">
								<label>Segunda Vantagem</label> 
								<select id="vantagem2" th:field="*{vantagem2}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="vantagem : ${vantagens}"  th:value="${vantagem.id}" th:text="${vantagem.nome}"></option>
						    </select>
					    </div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('vantagem3')}? 'has-error'">
								<label>Terceira Vantagem</label> 
								<select id="vantagem3" th:field="*{vantagem3}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="vantagem : ${vantagens}"  th:value="${vantagem.id}" th:text="${vantagem.nome}"></option>
						    </select>
					    </div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('vantagem4')}? 'has-error'">
								<label>Quarta Vantagem</label> 
								<select id="vantagem4" th:field="*{vantagem4}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="vantagem : ${vantagens}"  th:value="${vantagem.id}" th:text="${vantagem.nome}"></option>
						    </select>
					    </div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('mod')}? 'has-error'">
								<label>Mod</label> 
								<select id="mod" th:field="*{mod}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="modificador : ${modificadores}"  th:value="${modificador.id}" th:text="${modificador.nome}"></option>
						    </select>
					    </div>
						</div>
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/armadura/}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>