<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro de Conjunto</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<nav class="navbar navbar-inverse navbar-fixed-top" id="mainNav">
      <div class="container">
      	<div class="navbar-header">
      		<a class="navbar-brand" th:href="@{/home/}">Destiny Set Manager</a>
      	</div>
        <div class="navbar-collapse collapse" id="navbarResponsive">
          <ul class="nav navbar-nav">
            <li>
              <a class="nav-link" th:href="@{/guardiao/}">Guardiões</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/modificador/}">Modificadores</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/vantagem/}">Vantagens</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/arma/}">Armas</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/armadura/}">Armaduras</a>
            </li>
            <li class="active">
              <a class="nav-link" th:href="@{/conjunto/}">Conjuntos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
		<div class="panel-heading">
			<strong>Cadastro de Conjunto</strong>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${conjunto}" th:action="@{/conjunto/save}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${temMensagem}">
						    <span th:text="${mensagem}"></span>
						  </div>
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div> 					
						<div class="form-group row">
						    <div class="col-md-1">
						        <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
						    </div>
						 </div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
							    <label>Nome</label>
							    <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="100"/>
							</div>
						</div>
				    <div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('poder')}? 'has-error'">
							    <label>Poder</label>
							    <input type="number" class="form-control input-sm" th:field="*{poder}" readOnly="readonly"/>
							</div>
						</div>
				    <div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('guardiao')}? 'has-error'">
								<label>Guardião</label> 
								<select id="mira" th:field="*{guardiao}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="guardiao : ${guardioes}"  th:value="${guardiao.id}" th:text="${guardiao.nome}"></option>
						    </select>
					    </div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('cinetica')}? 'has-error'">
								<label>Cinética</label> 
								<select id="cinetica" th:field="*{cinetica}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="cinetica : ${cineticas}"  th:value="${cinetica.id}" th:text="${cinetica.nome}"></option>
						    </select>
					    </div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('energetica')}? 'has-error'">
								<label>Energética</label> 
								<select id="energetica" th:field="*{energetica}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="energetica : ${energeticas}"  th:value="${energetica.id}" th:text="${energetica.nome}"></option>
						    </select>
					    </div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('poderosa')}? 'has-error'">
								<label>Poderosa</label> 
								<select id="poderosa" th:field="*{poderosa}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="poderosa : ${poderosas}"  th:value="${poderosa.id}" th:text="${poderosa.nome}"></option>
						    </select>
					    </div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('elmo')}? 'has-error'">
								<label>Elmo</label> 
								<select id="elmo" th:field="*{elmo}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="elmo : ${elmos}"  th:value="${elmo.id}" th:text="${elmo.nome}"></option>
						    </select>
					    </div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('peito')}? 'has-error'">
								<label>Peito</label> 
								<select id="peito" th:field="*{peito}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="peito : ${peitos}"  th:value="${peito.id}" th:text="${peito.nome}"></option>
						    </select>
					    </div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('braco')}? 'has-error'">
								<label>Braço</label> 
								<select id="braco" th:field="*{braco}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="braco : ${bracos}"  th:value="${braco.id}" th:text="${braco.nome}"></option>
						    </select>
					    </div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('perna')}? 'has-error'">
								<label>Perna</label> 
								<select id="perna" th:field="*{perna}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="perna : ${pernas}"  th:value="${perna.id}" th:text="${perna.nome}"></option>
						    </select>
					    </div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('itemDeClasse')}? 'has-error'">
								<label>Item de Classe</label> 
								<select id="itemDeClasse" th:field="*{itemDeClasse}" class="form-control input-sm">
							    <option value="" selected="selected"></option>
							    <option th:each="itemDeClasse : ${itensDeClasse}"  th:value="${itemDeClasse.id}" th:text="${itemDeClasse.nome}"></option>
						    </select>
					    </div>
						</div>
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/conjunto/}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>