<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Guardião</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<nav class="navbar navbar-inverse navbar-fixed-top" id="mainNav">
      <div class="container">
      	<div class="navbar-header">
      		<a class="navbar-brand" th:href="@{/home/}">Destiny Set Manager</a>
      	</div>
        <div class="navbar-collapse collapse" id="navbarResponsive">
          <ul class="nav navbar-nav">
            <li class="active">
              <a class="nav-link" th:href="@{/guardiao/}">Guardiões</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/modificador/}">Modificadores</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/vantagem/}">Vantagens</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/arma/}">Armas</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/armadura/}">Armaduras</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/conjunto/}">Conjuntos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
		<div class="panel-heading">
			<strong>Guardião</strong>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Classe</th>
							<th>Nível</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="guardiao : ${guardioes}">
							<td th:text="${guardiao.id}"></td>
							<td th:text="${guardiao.nome}"></td>
							<td th:text="${guardiao.classe}"></td>
							<td th:text="${guardiao.nivel}"></td>
							<td>
								<div class="btn-group pull-right">
							   		<a class="btn btn-sm btn-primary" th:href="@{/guardiao/edit/{id}(id=${guardiao.id})}">Editar</a>
							   		<a class="delete btn btn-sm btn-danger" th:href="@{/guardiao/delete/{id}(id=${guardiao.id})}">Excluir</a>
							   </div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/guardiao/add/}" >Adicionar</a>
		</div>
	</div>
</body>
</html>