<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro de Guardião</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
	<div class="panel panel-default">
		<nav class="navbar navbar-inverse navbar-fixed-top" id="mainNav">
      <div class="container">
      	<div class="navbar-header">
      		<a class="navbar-brand" th:href="@{/home/}">Destiny Set Manager</a>
      	</div>
        <div class="navbar-collapse collapse" id="navbarResponsive">
          <ul class="nav navbar-nav">
            <li class="active">
              <a class="nav-link" th:href="@{/guardiao/}">Guardiões</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modificadores <span class="caret"></span></a>
              <ul class="dropdown-menu">
          	    <li><a th:href="@{/modificador/arma/}">Armas</a></li>
          	    <li><a th:href="@{/modificador/armadura/}">Armaduras</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vantagens <span class="caret"></span></a>
              <ul class="dropdown-menu">
          	    <li><a th:href="@{/vantagem/arma/}">Armas</a></li>
          	    <li><a th:href="@{/vantagem/armadura/}">Armaduras</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Armas <span class="caret"></span></a>
              <ul class="dropdown-menu">
          	    <li><a th:href="@{/arma/cinetica/}">Cinéticas</a></li>
          	    <li><a th:href="@{/arma/energetica/}">Energéticas</a></li>
          	    <li><a th:href="@{/arma/poderosa/}">Poderosas</a></li>
          	    <li><a th:href="@{/arma/exotica/}">Exóticas</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Armaduras <span class="caret"></span></a>
              <ul class="dropdown-menu">
          	    <li><a th:href="@{/armadura/elmo/}">Elmos</a></li>
          	    <li><a th:href="@{/armadura/peito/}">Peitos</a></li>
          	    <li><a th:href="@{/armadura/braco/}">Braços</a></li>
          	    <li><a th:href="@{/armadura/perna/}">Pernas</a></li>
          	    <li><a th:href="@{/armadura/classe/}">Itens de Classe</a></li>
              </ul>
            </li>
            <li>
              <a class="nav-link" th:href="@{/conjunto/}">Conjuntos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
		<div class="panel-heading">
			<strong>Cadastro de Guardião</strong>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${guardiao}" th:action="@{/guardiao/save}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div> 					
						<div class="form-group row">
						    <div class="col-md-1">
						        <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
						    </div>
						 </div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
							    <label>Nome</label>
							    <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="50"/>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('classe')}? 'has-error'">
							    <label>Classe</label>
							    <select id="classe" th:field="*{classe}" class="form-control input-sm">
								    <option value="" selected="selected">Selecione a Classe</option>
								    <option value="Arcano">Arcano</option>
								    <option value="Caçador">Caçador</option>
								    <option value="Titã">Titã</option>
							    </select>
							</div>
						</div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('nivel')}? 'has-error'">
							    <label>Nível</label>
							    <input type="number" class="form-control input-sm" th:field="*{nivel}" min="0" max="50" />
							</div>
						</div>
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/guardiao/}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>