<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Destiny Set Manager</title>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
		<nav class="navbar navbar-inverse navbar-fixed-top" id="mainNav">
      <div class="container">
      	<div class="navbar-header">
      		<a class="navbar-brand" th:href="@{/home/}">Destiny Set Manager</a>
      	</div>
        <div class="navbar-collapse collapse" id="navbarResponsive">
          <ul class="nav navbar-nav">
            <li>
              <a class="nav-link" th:href="@{/guardiao/}">Guardiões</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/modificador/}">Modificadores</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/vantagem/}">Vantagens</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/arma/}">Armas</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/armadura/}">Armaduras</a>
            </li>
            <li>
              <a class="nav-link" th:href="@{/conjunto/}">Conjuntos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
    <div class="panel-body">
	    <div class="jumbotron jumbotron-fluid">
			  <div class="container">
			    <h1 class="display-4">Destiny Set Manager</h1>
			    <p class="lead">Um sistema que permite cadastrar e organizar equipamentos, guardiões e conjuntos de equipamentos do jogo Destiny 2.</p>
			  </div>
			</div>
    </div>
	</div>
</body>
</html>